
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.blockCounter  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    width:100px ;
    height: 100px;

    background-color: hotpink;
    color: dimgrey;
}